<div class="d-flex justify-content-between aling-items-center">
  <h1>Discussions</h1>
  <%= link_to "New Discussion", root_path, class: "btn btn-primary" %>
</div>

<div class="row mt-4">
  <div class="col">
    <div id="discussions">
      <%= render @discussions %>
    </div>
  </div>
</div>