<!DOCTYPE html>
<html>
  <head>
    <title>HotwireForums</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
</head>

  <body>
    <%= render 'shared/navigation'%>
      <div class="container mt-4">
        <%= render 'shared/flash'%>
        <%= yield %>
      </div>
  </body>
</html>
